*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(130deg,#5fb5e7,#8814be);
    color:white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
header,
    form{
        min-height: 20vh;
        display:flex;
        justify-content: center;
        align-items: center;
    }
form input, 
  form button{
    padding: 0.5rem;
    font-size: 2 rem;
    border:none;
    background: white;
  }
  form button{
    color:#f98a6b;
    background:white;
    cursor:pointer;
    transition: all 0.3s ease;
  }
  form button:hover{
    background: #f98a6b;
    color: white;
  }
  .todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .todo-list{
    min-width: 30%;
    list-style-type: none;
  }
  .todo{
    margin:0.7rem;
    background:white;
    color:black;
    font-size:1.5rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
    transition: all 0.5 ease;
  
  }
  .todo li{
    flex:1;
  }
  .trash-btn{
    background: #5d0966;
    color:white;
    cursor:pointer;
    transition: all 0.3 at ease;
  }
  .trash-btn:hover{
    color: #5d0966;
    background:white;
  }
  .completed-btn{
    background: #23e81f;
    color:white;
    
  }
  .completed-btn:hover{
    color: #23e81f;
    background:white;
  }
.fa-trash ,.fa-check{
  pointer-events: none;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}